.blog-set {
  background-color: #F3F7FD;

  &__flex-container {
    display: flex;
    width: calc(100% - 20px);
    max-width: 1315px;
    margin: 0 auto;
    border: 2px dotted hotpink;


    //&__blog-posts{
    //  display: flex;
    //  width: 90%;
    //  padding-left: -20;
    //  padding-right: -20px;
    //  border: 2px solid pink;
    //  background-color: #E92D52;
    //}
  }
}

.article-card {
  width: percentage(1/3);
  box-sizing: border-box;
  //padding: 0 20px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid;

  &__image {
    object-fit: contain;
    width: 100%;
  }
}


