.centered-content {
  text-align: center;
  margin: 0 auto;
  width: calc(100% - 50px);
  max-width: 750px;
  padding: 48px 0 25px;

  @media(max-width: 375px) {
    width: 90%;
    margin: 0 auto;
  }

  h2 {
    font-size: 38px;
    font-weight: bold;
    color: #293446;
    height: 48px;
    padding: 45px 0;
  }
  p {
    font-weight: 100;
    font-size: 16px;
    color: #212121;
    line-height: 28px;
  }
}

