.contact-form {
  margin-top: -30px;
  padding-left: -20px;
  padding-right: -20px;

  &__container {
    width: 90vw;
    max-width: 494px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width: 767px) {
      width: 90%;
      max-width: none;
    }
  }

  &__wrapper {
    padding: 10px;
    width: 100%;
    margin: 0 auto;

    @media(max-width: 450px) {
    width: 90%;
      margin: 0 auto;
    }
  }

  &__inputs {
    display: flex;
    justify-items: baseline;
    padding: 15px 0;

    @media(max-width: 767px) {
      display: flex;
      flex-direction: column;

      label {
        padding-bottom: 12px;
      }

      input {
        padding-left: 10px;
      }
    }

    label {
      font-size: 18px;
      height: 25px;
      font-family: 'Droid Serif', sans-serif;
      color: #525252;
      line-height: 25px;
      padding-right: 10px;
    }

    input {
      flex: 2;
      border: none;
      color: #F45D1F;
      border-bottom: 1px solid #B7B7B7;
      overflow: hidden;
      font-size: 16px;
    }
  }

  &__inputs-other {
    padding-top: 15px;

    label {
      font-size: 18px;
      height: 25px;
      font-family: 'Droid Serif', sans-serif;
      color: #525252;
      line-height: 25px;
    }

    textarea {
      height: 44px;
      width: 100%;
      color: #F45D1F;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid #B7B7B7;
      border-radius: 5px;
      margin: 5px 0 0;
      box-shadow: 0 5px 0 rgba(183, 183, 183, .2);
      transition: height 200ms ease-in-out;
      resize: none;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  &__button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid $primary-color;
    margin: 15px 0 150px 0;
    transition: all 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    span {
      color: $primary-color;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      font-family: "brandon", sans-serif;
    }
  }

  &__company-info {
    background: #F3F7FD;
    padding: 100px 0;
    width: 100vw;
  }

  &__form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;

    h3 {
      flex: 1;
      height: 38px;
      font-size: 28px;
      font-weight: 600;
      line-height: 38px;
      text-align: center;
      padding: 12px 10px;
      @media(max-width: 450px) {
        font-size: 24px;
        line-height: 32px
      }

      a {
        text-decoration: none;
        color: #4D6285;
      }

      span {
        padding-left: 20px;
        font-family: "brandon", sans-serif;
        font-weight: 600;
      }
    }

  }

  p {
    display: block;
    height: 24px;
    margin: 0 auto 24px;
    color: #4D6285;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    padding-top: 50px;
    @media(max-width: 400px) {
      font-size:16px;

    }
  }
}

.contact-form__button {
  &:hover,
  &:focus {
    background: linear-gradient(45deg,#F45D1F 0,#ED4966 100%);
    transform: rotate(45deg);

    span {
      color: #fff;
    }
  }
}

input:focus {
  outline: none;
  border-bottom: 1px solid #1c8fed;
  color: $primary-color;
}

textarea:focus {
  outline: 1px solid #1c8fed;
  color: $primary-color;
  height: 140px;
}

