.expert-content {
  text-align: center;
  margin: 40px auto 0 ;
  width: calc(100% - 50px);
  max-width: 750px;
  padding:  55px 0;
  h2 {
    font-size: 38px;
    color: #293446;
    line-height: 48px;
    font-weight: 600;
  }
  p {
    font-weight: 100;
    line-height: 24px;
  }
}

.image-container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: calc(50% - 15px);
  position: relative;
  .random-img {
    width: 100%;
    display: block;
    border-radius: 1%;
    object-fit: contain;
  }
  .img-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    color: white;
    font-size: 1.25em;
    bottom: 15px;
    width: 100%;
  }
}

//.img-wrapper:before {
//  background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),to(#364458));
//  height: 100%;
//  left: 0;
//  position: absolute;
//  top: 0;
//  width: 100%;
//  z-index: 1;
//  content: '';
//}
