.expert-content {
  text-align: center;
  margin: 40px auto 0 ;
  width: calc(100% - 50px);
  max-width: 750px;
  padding:  55px 0;
  h2 {
    font-size: 38px;
    color: #293446;
    line-height: 48px;
    font-weight: 600;
  }
  p {
    font-weight: 100;
    line-height: 24px;
  }
}

.image-container {
  width: calc(100% - 10px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 640px;
  height: 400px;
  position: relative;
  .random-img {
    width: calc(100% - 20px);
    display: block;
    border-radius: 1%;
    object-fit: contain;
  }
  .img-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    bottom: 85px;
    width: 95%;
    z-index: 1;
  }
  h2 {
    font-size: 38px;
    padding: 15px 0;
  }
}

.img-wrapper:before {
  background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),to(#364458));  height: 100%;
  left: 0;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
  border-radius: 1%;
  content: '';
}
