.home-hero {
  width: 100vw;
  height: 60vh;
  min-height: 600px;
  position: relative;
  background-image: url("https://www.mostlyserious.io/uploads/team/_fullWidth/full-service-digital-agency-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media(max-width: 767px) {
      height: auto;
      min-height: 350px;
      position: relative;
  }

  .home-hero__text {
    position: absolute;
    width: 75%;
    z-index: 1;
    left: 5%;
    bottom: 7%;

    h2 {
      font-weight: bold;
      color: #fff;
      font-size: 52px;
      font-family: 'Brandon Text', sans-serif;
      line-height: 62px;
    }

    @media(max-width: 959px){
      width: 90%;
    }

    @media(max-width: 767px){
      width: 90%;
      h2 {
        font-size: 28px;
        line-height: 38px;
      }
    }
  }
}

.home-hero::before {
  background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),to(#364458));
  height: 100%;
  display: block;
  position: absolute;
  width: 100%;
}

.home-hero::after {
  clip-path: polygon(0 0,0 100%,100% 0);
  background-color: $primary-color;
  width: 40%;
  height: 100%;
  display: block;
  left: 0;
  top: -1;
  position: absolute;
}

.home-hero::after,
.home-hero::before {
  content: '';
}
