.hero-container {
  width: 100vw;
  height: 984px;
  background-image: url("https://www.mostlyserious.io/uploads/team/_fullWidth/full-service-digital-agency-3.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero-container:before {
  background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),to(#364458));
  height: 984px;
  display: block;
  position: absolute;
  width: 100%;
}

.hero-container:after {
  clip-path: polygon(0 0,0 100%,100% 0);
  background-color: $primary-color;
  width: 40%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  position: relative;
}

.hero-container::after, .hero-container::before {
  content: '';
}

.content {
  position: absolute;
  width: 50vw;
  top: 65%;
  z-index: 1;
  left: 45px;
  h2 {
    font-weight: bold;
    color: #fff;
    font-size: 52px;
    font-family: 'Brandon Text', sans-serif;
    height: 124px;
    line-height: 62px;
  }
}
