
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  //width: 100vw;
}

.hero-img {
  width: 90vw;
  height: 75vh;
}

.content {
  position: absolute;
  width: 45vw;
  top: 65%;
  left: 10%;
  h2 {
    font-weight: 600;
    color: azure;
    font-size: 2em;
  }
}
