.nav-bar ul {
  width: 92.5vw;
  margin: 0 auto;
  display: flex;
  height: 100px;
  align-items: center;
}

.nav-bar li {
  list-style-type: none;
  padding: 7px 15px;
  font-size: 20px;
}
.nav-bar li a {
  text-decoration: none;
}

.logo a {
  font-family: "Josefin Slab", serif;
  color: #F45D1F;
  font-size: 1.25em;
  padding-right: 10px;
}

.hamburger-menu span {
  display: block;
  height: 7px;
  width: 50px;
  background-color: #F45D1F;
  margin: 3px 0;
  border-radius: 5px;
}

ul .who-we-are {
  flex: 3;
  border-left: 2px solid #A8A8A8;
  height: 30px;
}
ul .who-we-are a {
  color: #A8A8A8;
  font-family: "Brandon Text";
  font-weight: 500;
  height: 24px;
  width: 98px;
  padding-left: 10px;
}

.contact-page a {
  color: #648AF7;
  font-weight: bold;
  font-family: "Brandon Text";
  height: 24px;
  width: 100px;
  line-height: 24px;
  letter-spacing: normal;
}

.nav-bar li a:hover {
  color: #F45D1F;
}

.hero-container {
  width: 100vw;
  height: 984px;
  position: relative;
  background-image: url("https://www.mostlyserious.io/uploads/team/_fullWidth/full-service-digital-agency-3.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.hero-container:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#364458));
  height: 984px;
  display: block;
  position: absolute;
  width: 100%;
}

.hero-container:after {
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: #F45D1F;
  width: 40%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  position: relative;
}

.hero-container::after, .hero-container::before {
  content: "";
}

.content {
  position: absolute;
  width: 50vw;
  z-index: 1;
  left: 45px;
  bottom: 35px;
}
.content h2 {
  font-weight: bold;
  color: #fff;
  font-size: 52px;
  font-family: "Brandon Text", sans-serif;
  line-height: 62px;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(80% - 10px);
  margin: 0 auto;
  box-sizing: border-box;
}
.about-us .hero-img {
  display: inline-block;
  max-width: 100%;
  border-radius: 3px;
  object-fit: contain;
  height: auto;
}

.about-content {
  text-align: center;
  margin: 0 auto;
  width: calc(100% - 50px);
  max-width: 750px;
  padding: 55px 0;
}
.about-content h2 {
  font-size: 38px;
  font-weight: bold;
  color: #293446;
  height: 48px;
}
.about-content p {
  font-weight: 100;
  font-size: 16px;
  color: #212121;
  line-height: 28px;
  margin: 0 0 24px;
}

.expert-content {
  text-align: center;
  margin: 40px auto 0;
  width: calc(100% - 50px);
  max-width: 750px;
  padding: 55px 0;
}
.expert-content h2 {
  font-size: 38px;
  color: #293446;
  line-height: 48px;
  font-weight: 600;
}
.expert-content p {
  font-weight: 100;
  line-height: 24px;
}

.team-cards-wrapper {
  width: calc(100% - 40px);
  max-width: 1315px;
  margin: 0 auto;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px 0 -20px;
}

.team-card-wrapper {
  box-sizing: border-box;
  width: 50%;
  padding: 0 20px 20px;
  margin-bottom: 20px;
}
@media (max-width: 959px) {
  .team-card-wrapper {
    width: 100%;
  }
}

.team-card {
  position: relative;
  box-shadow: 0 20px 30px 0 rgba(95, 118, 151, 0.23);
  overflow: hidden;
  transition: all 0.1s linear;
}
.team-card .img-wrapper {
  background-size: cover;
  background-position: center;
  transition: all 0.1s linear;
}
.team-card .profile-img {
  width: 100%;
  display: block;
  border-radius: 1%;
  object-fit: contain;
}
.team-card .img-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  bottom: 60px;
  width: 98%;
  z-index: 1;
}
@media (max-width: 767px) {
  .team-card .img-content .img-content {
    bottom: 20px;
  }
  .team-card .img-content h2 {
    padding: 5px 0;
  }
}
.team-card h2 {
  font-size: 38px;
  padding: 15px 0;
}

.team-card:hover,
.team-card:focus,
.team-card:hover .img-wrapper,
.team-card:focus .img-wrapper {
  transform: scale(1.03);
  border-radius: 1%;
}

.team-card-join {
  background: linear-gradient(219.27deg, #F45D1F 0%, #ED4967 100%), linear-gradient(180deg, rgba(157, 78, 73, 0) 0%, #364458 100%);
  color: white;
  min-height: 400px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 15px;
  border-radius: 2%;
}

.img-wrapper:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#364458));
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  border-radius: 1%;
  content: "";
}

.box-wrapper:before {
  background: linear-gradient(219.27deg, #F45D1F 0%, #ED4967 100%), linear-gradient(180deg, rgba(157, 78, 73, 0) 0%, #364458 100%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Droid Serif", sans-serif;
}

h2 {
  font-family: "Brandon Text", Helvetica, sans-serif;
}

/*# sourceMappingURL=main.css.map */
