@import './variables.scss';
@import './navbar.scss';
@import './home-hero.scss';
@import 'secondary-hero.scss';
@import 'expert-team.scss';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Droid Serif', sans-serif;
}

h2 {
    font-family: "Brandon Text", Helvetica,  sans-serif;
}