@import './variables.scss';
@import './navbar.scss';
@import './home-hero.scss';
@import 'secondary-hero.scss';
@import 'expert-team.scss';
@import 'tile-set.scss';
@import 'centered-content.scss';
@import 'blog-links.scss';
@import 'reuseable-container-class';
@import 'contact-section';
@import 'footer.scss';
@import 'custom-fonts';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'droid', sans-serif;
}

h2, h5{
    font-family: 'brandon', Helvetica,  sans-serif;
}
