.nav-bar ul {
  width: 92.5vw;
  margin: 0 auto;
  display: flex;
  height: 100px;
  align-items: center;
}
.nav-bar ul li {
  list-style-type: none;
  padding: 7px 15px;
  font-size: 20px;
}
.nav-bar ul li a {
  text-decoration: none;
}
.nav-bar ul .logo a {
  font-family: "Josefin Slab", serif;
  color: #F45D1F;
  font-size: 1.25em;
  padding-right: 10px;
}
.nav-bar ul .who-we-are {
  flex: 3;
  border-left: 2px solid #A8A8A8;
  height: 30px;
}
.nav-bar ul .who-we-are a {
  color: #A8A8A8;
  font-family: "Brandon Text";
  font-weight: 500;
  height: 24px;
  width: 98px;
  padding-left: 10px;
}
@media (max-width: 767px) {
  .nav-bar ul .who-we-are {
    visibility: hidden;
  }
}
.nav-bar ul .contact-page a {
  color: #648AF7;
  font-weight: bold;
  font-family: "Brandon Text";
  height: 24px;
  width: 100px;
  line-height: 24px;
  letter-spacing: normal;
}
@media (max-width: 767px) {
  .nav-bar ul .contact-page a {
    display: none;
  }
}
.nav-bar ul .contact-page i {
  display: none;
}
@media (max-width: 767px) {
  .nav-bar ul .contact-page i {
    display: block;
    color: #648AF7;
  }
}
.nav-bar ul .hamburger-menu span {
  display: block;
  height: 7px;
  width: 50px;
  background-color: #F45D1F;
  margin: 3px 0;
  border-radius: 5px;
}

.nav-bar li a:hover {
  color: #F45D1F;
}

.home-hero {
  width: 100vw;
  height: 60vh;
  min-height: 600px;
  position: relative;
  background-image: url("https://www.mostlyserious.io/uploads/team/_fullWidth/full-service-digital-agency-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .home-hero {
    height: auto;
    min-height: 350px;
    position: relative;
  }
}
.home-hero .home-hero__text {
  position: absolute;
  width: 75%;
  z-index: 1;
  left: 5%;
  bottom: 7%;
}
.home-hero .home-hero__text h2 {
  font-weight: bold;
  color: #fff;
  font-size: 52px;
  font-family: "Brandon Text", sans-serif;
  line-height: 62px;
}
@media (max-width: 959px) {
  .home-hero .home-hero__text {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .home-hero .home-hero__text {
    width: 90%;
  }
  .home-hero .home-hero__text h2 {
    font-size: 28px;
    line-height: 38px;
  }
}

.home-hero::before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#364458));
  height: 100%;
  display: block;
  position: absolute;
  width: 100%;
}

.home-hero::after {
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: #F45D1F;
  width: 40%;
  height: 100%;
  display: block;
  left: 0;
  top: -1;
  position: absolute;
}

.home-hero::after,
.home-hero::before {
  content: "";
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.image-wrapper {
  width: calc(80% - 10px);
}
.image-wrapper__hero-img {
  display: inline-block;
  max-width: 100%;
  border-radius: 3px;
  object-fit: contain;
  height: auto;
}
@media (max-width: 767px) {
  .image-wrapper {
    width: calc(100% - 50px);
  }
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px 0 -20px;
}

.team-card-wrapper {
  box-sizing: border-box;
  width: 50%;
  padding: 0 20px 20px;
  margin-bottom: 20px;
}
@media (max-width: 959px) {
  .team-card-wrapper {
    width: 100%;
  }
}

.team-card {
  position: relative;
  box-shadow: 0 20px 30px 0 rgba(95, 118, 151, 0.23);
  overflow: hidden;
  transition: all 0.1s linear;
}
.team-card .img-wrapper {
  background-size: cover;
  background-position: center;
  transition: all 0.1s linear;
}
.team-card .profile-img {
  width: 100%;
  display: block;
  border-radius: 1%;
  object-fit: contain;
}
.team-card .img-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  bottom: 60px;
  width: 98%;
  z-index: 1;
}
@media (max-width: 767px) {
  .team-card .img-content .img-content {
    bottom: 20px;
  }
  .team-card .img-content h2 {
    padding: 5px 0;
  }
}
.team-card h2 {
  font-size: 38px;
  padding: 15px 0;
}

.team-card:hover,
.team-card:hover .img-wrapper, .team-card:focus,
.team-card:focus .img-wrapper {
  transform: scale(1.03);
  border-radius: 1%;
}

.team-card-join-wrapper {
  position: relative;
  width: 100%;
  padding-top: 62.5%;
}

.team-card-join {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(219.27deg, #F45D1F 0%, #ED4967 100%), linear-gradient(180deg, rgba(157, 78, 73, 0) 0%, #364458 100%);
  color: white;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 20px 20px;
  border-radius: 2%;
}

.img-wrapper:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#364458));
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  border-radius: 1%;
  content: "";
}

.box-wrapper:before {
  background: linear-gradient(219.27deg, #F45D1F 0%, #ED4967 100%), linear-gradient(180deg, rgba(157, 78, 73, 0) 0%, #364458 100%);
}

.tile-set {
  padding-bottom: 100px;
}
.tile-set__container {
  width: calc(100% - 40px);
  max-width: 1315px;
  margin: 0 auto;
}
.tile-set__tiles {
  display: flex;
  flex-wrap: wrap;
  padding-left: -20;
  padding-right: -20px;
}

.centered-content hr {
  margin: 110px 0 60px;
  border: 2px solid #B7B7B7;
  border-radius: 3px;
}

.tile {
  width: 33.3333333333%;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 1079px) {
  .tile {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .tile {
    width: 100%;
  }
}
.tile__wrapper {
  width: 100%;
  position: relative;
  padding-top: 105%;
  margin: 20px 0;
}
.tile__wrapper:hover .tile__img, .tile__wrapper:focus .tile__img {
  transform: translateY(-20px);
}
.tile__wrapper:hover .tile__text, .tile__wrapper:focus .tile__text {
  opacity: 1;
}
.tile__main {
  box-shadow: 0 20px 30px 0 rgba(95, 118, 151, 0.23);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 4px solid transparent;
  border-radius: 3px;
}
.tile__content {
  margin: 0 auto;
  padding: 0 20px;
}
.tile__img {
  height: 70px;
  transition: transform 0.1s linear;
}
.tile__heading {
  font-size: 38px;
}
.tile__text {
  padding: 15px 0;
  opacity: 0;
  transition: opacity 0.1s linear;
}
@media (max-width: 768px) {
  .tile__text {
    opacity: 1;
    padding: 15px 55px;
  }
}
.tile--orange {
  color: #F45D1F;
}
.tile--orange .tile__main {
  border-color: #F45D1F;
}
.tile--gray {
  color: #919090;
}
.tile--gray .tile__main {
  border-color: #919090;
}
.tile--skyblue {
  color: #648AF7;
}
.tile--skyblue .tile__main {
  border-color: #648AF7;
}
.tile--pink {
  color: #E92D52;
}
.tile--pink .tile__main {
  border-color: #E92D52;
}
.tile--yellow {
  color: #C4C52F;
}
.tile--yellow .tile__main {
  border-color: #C4C52F;
}
.tile--darkblue {
  color: #364458;
}
.tile--darkblue .tile__main {
  border-color: #364458;
}

.centered-content {
  text-align: center;
  margin: 0 auto;
  width: calc(100% - 50px);
  max-width: 750px;
  padding: 48px 0 25px;
}
.centered-content h2 {
  font-size: 38px;
  font-weight: bold;
  color: #293446;
  height: 48px;
  padding: 45px 0;
}
.centered-content p {
  font-weight: 100;
  font-size: 16px;
  color: #212121;
  line-height: 28px;
}

.blog-set {
  background-color: #F3F7FD;
  margin-bottom: 100px;
}
.blog-set__container {
  width: calc(100% - 40px);
  max-width: 1315px;
  margin: 0 auto;
}
.blog-set__blog-posts {
  display: flex;
}
@media (max-width: 959px) {
  .blog-set__blog-posts {
    display: flex;
    flex-wrap: wrap;
  }
}

.article-card {
  width: 33.3333333333%;
  box-sizing: border-box;
  min-height: 552px;
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;
  margin-bottom: -20px;
}
@media (max-width: 959px) {
  .article-card {
    width: calc(50% - 20px);
    padding-bottom: 35px;
  }
}
@media (max-width: 768px) {
  .article-card {
    width: 100%;
    padding-bottom: 40px;
  }
}
.article-card__wrapper {
  background: #fff;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 3px;
  height: 100%;
  box-shadow: 0 20px 30px 0 rgba(95, 118, 151, 0.23);
  transition: all 0.15s linear;
  overflow: hidden;
}
.article-card__image {
  object-fit: contain;
  width: 100%;
  transition: all 0.15s linear;
}
.article-card__content-wrapper {
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article-card__header {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  color: #364458;
}
.article-card__statement {
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0;
  color: #364458;
}
.article-card__author-wrapper {
  display: flex;
  align-items: center;
}
.article-card__author-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.article-card__wrapper:hover,
.article-card__wrapper:hover .article-card__image-wrapper, .article-card__wrapper:focus,
.article-card__wrapper:focus .article-card__image-wrapper {
  transform: scale(1.03);
  border-radius: 1%;
}

.container {
  width: calc(100% - 40px);
  max-width: 1315px;
  margin: 0 auto;
}

.contact-form {
  margin-top: -30px;
  padding-left: -20px;
  padding-right: -20px;
}
.contact-form__container {
  width: 90vw;
  max-width: 494px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .contact-form__container {
    width: 90%;
    max-width: none;
  }
}
.contact-form__wrapper {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}
.contact-form__inputs {
  display: flex;
  justify-items: baseline;
  padding: 15px 0;
}
@media (max-width: 767px) {
  .contact-form__inputs {
    display: flex;
    flex-direction: column;
  }
  .contact-form__inputs label {
    padding-bottom: 12px;
  }
  .contact-form__inputs input {
    padding-left: 10px;
  }
}
.contact-form__inputs label {
  font-size: 18px;
  height: 25px;
  font-family: "Droid Serif", sans-serif;
  color: #525252;
  line-height: 25px;
  padding-right: 10px;
}
.contact-form__inputs input {
  flex: 2;
  border: none;
  border-bottom: 1px solid #B7B7B7;
  overflow: hidden;
  font-size: 16px;
}
.contact-form__inputs-other {
  padding-top: 15px;
}
.contact-form__inputs-other label {
  font-size: 18px;
  height: 25px;
  font-family: "Droid Serif", sans-serif;
  color: #525252;
  line-height: 25px;
}
.contact-form__inputs-other textarea {
  height: 44px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #B7B7B7;
  border-radius: 5px;
  margin: 5px 0 0;
  box-shadow: 0 5px 0 rgba(183, 183, 183, 0.2);
  transition: height 200ms ease-in-out;
  resize: none;
}
.contact-form__button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #F45D1F;
  margin: 15px 0 150px 0;
  transition: all 200ms ease-in-out;
}
.contact-form__button span {
  color: #F45D1F;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-family: "Brandon Text", sans-serif;
}
.contact-form__company-info {
  background: #F3F7FD;
  padding: 100px 0;
}
.contact-form__form-wrapper {
  max-width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.contact-form__form-wrapper h3:first-child {
  padding-right: 150px;
}
.contact-form__form-wrapper h3 {
  height: 38px;
  width: 164px;
  color: #4D6285;
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
  display: flex;
}
.contact-form__form-wrapper h3 span {
  padding: 0 20px;
}
.contact-form p {
  display: block;
  height: 24px;
  width: 50%;
  margin: 0 auto;
  color: #4D6285;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  padding-top: 70px;
}

.contact-form__button:hover, .contact-form__button:focus {
  background: linear-gradient(45deg, #F45D1F 0, #ED4966 100%);
  transform: rotate(45deg);
}
.contact-form__button:hover span, .contact-form__button:focus span {
  color: #fff;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #1c8fed;
  color: #F45D1F;
}

textarea:focus {
  outline: 1px solid #1c8fed;
  color: #F45D1F;
  height: 140px;
}

footer {
  height: 100px;
  width: 90vw;
  margin: 0 auto;
}

.footer-wrapper {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px;
}
.footer-wrapper h6 {
  color: #364458;
  height: 23px;
  font-family: "Droid Serif";
  font-size: 16px;
  line-height: 23px;
  align-self: center;
}
.footer-wrapper h6 a {
  color: #F45D1F;
  padding: 0 5px 0 5px;
}
.footer-wrapper h6 span {
  color: #A8A8A8;
  font-family: inherit;
}
.footer-wrapper .ga-certified {
  box-sizing: border-box;
  padding: 10px;
  align-self: center;
  flex: 2;
}
.footer-wrapper .social-links {
  align-self: stretch;
}
.footer-wrapper .social-links__wrapper {
  list-style: none;
  display: flex;
  padding: 10px;
}
.footer-wrapper .social-links__wrapper li {
  position: relative;
  padding: 10px 15px;
  margin: 0 10px;
}
.footer-wrapper .social-links__wrapper li i.fab {
  font-size: 22px;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #888;
  color: white;
  padding: 5px;
  background: #E53053;
  text-align: center;
  transition: background-color 150ms ease-in;
}
.footer-wrapper .social-links__wrapper li i.fab:hover, .footer-wrapper .social-links__wrapper li i.fab:focus {
  background-color: #2C2C2C;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Droid Serif", sans-serif;
}

h2, h5 {
  font-family: "Brandon Text", Helvetica, sans-serif;
}

p {
  font-family: "Droid Serif", sans-serif;
}

/*# sourceMappingURL=main.css.map */
