.nav-bar {
  width: 100vw;

  ul {
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;

    li {
      list-style-type: none;
      padding: 7px 15px;
      font-size: 20px;

      a {
        text-decoration: none;
      }
    }

    .logo {

      a {
        font-family: 'Josefin Slab', serif;
        color: $primary-color;
        img {
          height: 35px;
          width: 210px;

          @media(max-width: 450px) {
            width: 125px;
            height: 35px;
          }
        }
      }
    }

    .who-we-are {
      flex: 3;
      border-left: 2px solid $secondary-color;
      height: 30px;

      a {
        color: $secondary-color;
        font-weight: 500;
        height: 24px;
        width: 98px;
        padding-left: 10px;
        font-family: 'brandon', sans-serif;
      }

      @media(max-width: 767px) {
        visibility: hidden;
      }
    }

    .contact-page {
      a {
        color: #648AF7;
        font-weight: bold;
        font-family: $b-text;
        height: 24px;
        width: 100px;
        line-height: 24px;
        letter-spacing: normal;

        @media(max-width: 767px) {
          display: none;
        }
      }

      i {
        display: none;
        @media(max-width: 767px) {
          display: block;
          box-sizing: border-box;
          padding: 5px;
          color: #648AF7;
          font-size: 22px;
        }
      }
    }

    .hamburger-menu {
      box-sizing: border-box;
      padding: 5px;
      span {
        display: block;
        height: 4px;
        width: 40px;
        background-color: $primary-color;
        margin: 4px 0;
        border-radius: 2px;

        @media(max-width: 400px) {
          width: 33px;
          height: 5px;
        }
      }
    }
  }
}

.nav-bar li a:hover {
  color: $primary-color;
}
