.nav-bar ul {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  height: 100px;
  align-items: center;

}

.nav-bar li {
  list-style-type: none;
  padding: 8px 15px;
  font-size: 18px;
    a {
      text-decoration: none;
    }
}

.logo a {
  font-family: 'Josefin Slab', serif;
  color: $primary-color;
  font-size: 1.25em;
}

.hamburger-menu span {
  display: block;
  height: 7px;
  width: 50px;
  background-color: $primary-color;
  margin: 3px 0;
  border-radius: 5px;
}

ul .who-we-are {
  flex: 3;
  border-left: 2px solid $secondary-color;
  height: 30px;
    a {
      color: $secondary-color;
      font-family: $b-text;
      height: 24px;
      width: 98px;
    }
}

.contact-page a {
  color: #648AF7;
  font-weight: bold;
  font-family: $b-text;
  height: 24px;
  width: 100px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: normal;
}
