.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(80% - 10px);
  margin: 0 auto;
  box-sizing: border-box;

  &__hero-img {
    display: inline-block;
    max-width: 100%;
    border-radius: 3px;
    object-fit: contain;
    height: auto;
  }
}
