.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.image-wrapper {
  width: calc(90% - 10px);
  max-width: 1322px;
  max-height: 706px;
  margin: 0 auto;

  &__hero-img {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    object-fit: contain;
    height: auto;
  }

  @media(max-width: 767px) {
    width: calc(100% - 50px);
  }
}
