$primary-color: #F45D1F;
<<<<<<< HEAD
$secondary-color: #A8A8A8;
$image: url('../photos/main-photo.jpg')
||||||| merged common ancestors
$secondary-color: #A8A8A8;
=======
$secondary-color: #A8A8A8;
$mostly-blue: #648AF7;
$b-text: "Brandon Text";
>>>>>>> nav_bar
